@media(max-width: 600px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li a{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336; 
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    .row{
        flex-direction: column;
    }

    .testimonials-row-col{
        flex: 100%;
        max-width: 100%;
    }
}