/*PRODUCT AREA*/
* {
    margin: 0;
    padding: 0;
}

.product-page{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    
}

.app__products-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.app__products-list {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    margin: auto;
}

.products__container{
    display: flex;
    width: 100%;
}

.container__item { 
    padding: 2rem 1.1rem 2rem ;
    position: relative;
    text-align: center;
    width: 30%;
}

.product__image{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    filter: brightness(80%);
}

.product__title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
}  

.product__desc{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;  
    color: white;  
}
.product__btn {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background: white;
    color: black;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;  
    text-decoration: none;
}

.product__btn:hover{
    background: black;
    color: white;
}

.container__item:hover .product__image {
    opacity: 0.3;
  }

.container__item:hover .product__btn {
    opacity: 1;
}
.container__item:hover .product__title{
    opacity: 0.5;
}
.container__item:hover .product__desc{
    opacity: 0.5;
}



/*NAV AREA*/
.logo img{
    width: 60px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;
}

/*RESPONSIVE AREA*/
@media screen and (max-width: 1400px) {
    .container__item {
        width: 35%;
    }

    .app__products-list {
        width: 90%;
    }
}

@media screen and (max-width:1000px) {

    .app__products-list {
        width: 75%;
    }

    .products__container {
        flex-direction: column;
    }

    .container__item {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
        height: 400px;
    }

    .container__item .product__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 550px) {
    .app__products-title {
        font-size: 40px;
    }
}

