/*DEFAULT SETUP*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.about-page{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/panner-about.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*ABOUT AREA*/

/*NAV AREA*/
.logo img{
    width: 60px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;
}

nav .fa-solid{
    display: none;
}

/*TEXT-BOX AREA*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

/*MEMBER AREA*/
.members{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.members-col{
    flex-basis: 24%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.members-col img{
    width: 100%;
    display: block;
}

.members-col p{
    font-size: 20px;
    font-weight: 500;
}

.members-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}