/*DEFAULT SETUP*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.header-area{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(../img/backgroundImage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    display: inline-block;
    width: 180px;
    text-align: center; 
    transition: all 0.3s;
    margin-bottom: 20px;
}
.btn:hover,
.btn:active{
    background-color: #d35400;
}

/*NAV AREA*/
.logo img{
    width: 60px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;
}

/*TEXTING-BOX AREA*/
.texting-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.texting-box h1{
    font-size: 62px;
}

.texting-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

/*HOME-PRODUCT AREA*/
.product{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.product-col{
    flex-basis: 24%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.product-col img{
    width: 80%;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.product-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*MEMBER AREA*/
.members{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.members-col{
    flex-basis: 24%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.members-col img{
    width: 100%;
    display: block;
}

.members-col p{
    font-size: 20px;
    font-weight: 500;
}

.members-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/*TESTIMONIALS AREA*/
.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.testimonials-inner{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.testimonials-inner .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.testimonials-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials-row-col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonials-row-col-testimonial{
    background: #fff;
    padding: 30px;

}

.testimonials-row-col-testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.estimonials-row-col-testimonial-name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

/*CONTACT AREA*/

.contact-area{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(../img/background-contact.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 50px;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    margin-top: 100px;
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    margin-top: 100px;
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50%-10px);
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: all;
}

.contact-form .send-btn:hover{
    background: #0582E3;
}

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
    visibility: hidden;
}

.alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;

    visibility: hidden;
}
